.app-loading {
  background-color: #fff;
  background-image: url(/img/global/loading.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px auto;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}
